main {
    text-align: center;
    background-color: var(--dark-grey);
    padding: 1rem 3rem 3rem 3rem;
    color: var(--light-brown);
}
section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
form {
    background-color: var(--brown);
    color: var(--dark-grey);
    margin: 0 auto;
    max-width: 36rem;
    padding: 0 2rem 3rem 2rem;
    list-style-position: inside;
    text-align: center;
}
.h2 {
    margin: 2.5rem 1rem 1rem 1rem;
}
.form-elements-container a, input, textarea, button, label {
    display: block;
}
.form-elements-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15rem 15rem;
    justify-content: center;
    gap: 1rem 1rem;
    padding: 0 2rem;
}
.form-element {
    text-align: left;
}
.form-element label {
    padding-bottom: 0.2rem;
}
.form-element textarea, input, select {
    border: 1px solid var(--dark-grey);
    background-color: var(--light-brown);
    color: var(--dark-grey);
    font-family: var(--regular);
    border-radius: 5px;
}
input, select {
    padding: 5px;
}
.form-element input {
    width: 100%;
}
form button {
    border: none;
}
form .btn {
    margin: 2rem 1rem 1rem 1rem;
}
button[type="reset"] {
    margin: 0 auto;
    color: var(--dark-red);
    background-color: transparent;
    font-family: var(--regular);
    font-size: 1rem;
    cursor: pointer;
}
button[type="reset"]:hover {
    color: var(--light-brown)

}
a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1440px) {
    form {
        width: 60rem;
    }
}
@media (max-width: 1280px) {
    form {
        width: 50rem;
    }
}
@media (max-width: 1024px) {
    form {
        width: auto;
    }
}
@media (max-width: 768px) {
    main .h1 {
        font-size: 2rem;
        margin: 0rem 0 4rem 0;
    }
    .form-elements-container {
        display: block;
        padding: 0;
    }
    form .btn {
        margin: 1rem auto;
    }
}
@media (max-width: 425px) {
    main .h1 {
        font-size: 1.6rem;
    }
    .form-elements-container {
        grid-template-columns: 10rem;
    }
}
@media (max-width: 375px) {
    main .h1 {
        font-size: 1.3rem;
        margin: 0rem 0 2rem 0;
    }
}
