:root {
    --dark-grey: #161616;
    --brown: #BE985C;
    --light-brown: #CFBDA3;
    --dark-red: #491709;
    --red: #9D0006;
    --special: "Atma", system-ui;
    --regular: "Merriweather", serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

body header {
    width: 100%;
    background-color: var(--brown);
    color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-family: var(--special);
    font-size: 1.6rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
body header .logo {
    padding: 0 2rem;
    font-size: 2.5rem;
}
body header a {
    text-decoration: none;
    color: inherit;
}
body header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
body header ul li, #side-drawer nav ul li {
    padding: 0.9rem 2rem;
    height: 100%;
}
body header ul li:hover, #side-drawer nav ul li a {
    height: 100%;
}
body header ul li:hover, #side-drawer nav ul li a:hover {
    background-color: var(--dark-grey);
    color: var(--light-brown);
    cursor: pointer;
}
body header ul .active-menu, #side-drawer nav ul li .active-menu {
    background-color: var(--dark-grey);
    color: var(--light-brown);
}

/*SIDE DRAWER*/
.side-drawer-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.3rem;
    position: absolute;
    top: 1.3rem;
    right: 3rem;
}
body .side-drawer-btn {
    z-index: 5;
}

.lines {
    height: 3px;
    background-color: var(--dark-grey);
}

/*ASIDE*/
#side-drawer {
    position: fixed;
    z-index: 6;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--brown);
}
#side-drawer nav ul li {
    z-index: 3;
    height: 5rem;
    text-align: center;
    background-color: var(--brown);
    padding: 0;
}
#side-drawer nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--dark-grey);
    width: 100%;
    height: 5rem;
    font-family: var(--special);
    font-size: 1.6rem;
    padding: 1.5rem 0;
}


/* MAIN közös*/
.h1 {
    font-family: var(--special);
    font-size: 4rem;
    padding: 1rem 2rem 3rem 2rem;
}
.h2 {
    font-family: var(--regular);
    font-size: 1.4rem;
    line-height: 1.5;
}
.large-paragraph {
    font-family: var(--regular);
    font-size: 2rem;
    line-height: 1.5;
}
.paragraph {
    font-family: var(--regular);
    font-size: 0.8rem;
    line-height: 1.5;
}
.btn {
    display: inline-block;
    text-decoration: none;
    font-family: var(--special);
    font-size: 1.4rem;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    width: 16rem;
    margin: 2rem 1rem;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--red);
    color: var(--light-brown);
}
.btn-primary:hover {
    background-color: var(--light-brown);
    color: var(--dark-red);
}
.btn-secondary {
    text-decoration: none;
    background-color: var(--light-brown);
    color: var(--dark-red);
}

/* FOOTER */
footer {
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    background-color: var(--brown);
    color: var(--dark-grey);
    text-align: center;
}
.fa {
    padding: 8px;
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin: 1rem 2px;
    border-radius: 50%;
  }  
.fa-facebook {
    color: var(--dark-grey);
    background-color: var(--light-brown);
}
.fa-instagram {
    color: var(--dark-grey);
    background-color: var(--light-brown);
}
.fa-youtube {
    color: var(--dark-grey);
    background-color: var(--light-brown);
}
.fa-google {
    color: var(--dark-grey);
    background-color: var(--light-brown);
}




/*RESPONSIVE*/

@media (max-width: 1280px) {
    .h1 {
        font-size: 3rem;
    }
    .h2 {
        font-size: 1.3rem;
    }
    .large-paragraph {
        font-size: 1.3rem;
    }

}
@media (max-width: 1024px) {
    body header ul li, #side-drawer nav ul li {
        padding: 0.8rem 2rem;
    }
    body header .logo {
        padding: 0 1.2rem;
    }
    .h1 {
        font-size: 2.3rem;
    }
    .paragraph {
        font-size: 0.8rem;
        line-height: 1.5;
    }
    .btn {
        font-size: 1.2rem;
        padding: 0.5rem 1.6rem;
        width: 14rem;
        margin: 2rem 1rem;
    }
}
@media (max-width: 768px) {
    body header ul {
        display: none;
    }
    .side-drawer-btn {
        display: flex;
    }
    #side-drawer:target {
        display: block;
    }
    .h1 {
        font-size: 1.8rem;
        padding: 1rem 0.5rem 0 0.5rem;
    }
    .large-paragraph {
        font-size: 1.1rem;
    }
    .btn {
        display: block;
        margin: 1rem auto;
    }
}
@media (max-width: 425px) {
    body header .logo {
        padding: 0 0.5rem;
    }
    .h1 {
        font-size: 1.7rem;
    }
    .large-paragraph {
        font-size: 1rem;
    }
}
@media (max-width: 375px) {
    .h1 {
        font-size: 1.6rem;
    }
    .h2 {
        font-size: 1.1rem;
    }
    .btn {
        font-size: 0.8rem;
        padding: 0.5rem 1.3rem;
        width: 10rem;
    }
}
@media (max-width: 375px) {
    body header .logo {
        padding: 0 0.2rem;
    }
    .h1 {
        font-size: 1.6rem;
    }
    .h2 {
        font-size: 1.1rem;
    }
    .large-paragraph {
        font-size: 0.8rem;
    }
}